body {
  margin : 0;
  padding : 0;
}


#bg {
  background-image: url("images/BgImg.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height : 400px;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.35);
  height : 100%;
  width : 100%;
}

.shadow {
  -webkit-box-shadow: 0px 5px 12px 3px rgba(51,51,51,0.5);
  -moz-box-shadow: 0px 5px 12px 3px rgba(51,51,51,0.5);
  box-shadow: 0px 5px 12px 3px rgba(51,51,51,0.5);
}

.shadow-small {
  -webkit-box-shadow: 0px 5px 20px 0px rgba(51,51,51,1);
  -moz-box-shadow: 0px 5px 20px 0px rgba(51,51,51,1);
  box-shadow: 0px 5px 20px 0px rgba(51,51,51,1);
}

.header {
  height : 400px;
  width : '100%';
  display : flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header .description {
  display: block;
  width : '100%';
  text-align:center;
}

.header .description p {
  color : #fff;
  font-size: 20px;
  font-family: "Raleway", serif;
  font-weight: 800;
}

.header .description .subheading {
  font-size: 16px;
  margin-top : 16px;
  font-weight: 400;
  margin-bottom: -16px;
}

.header .icons {
  display: flex;
  flex-direction: row;
}

.header .hIcon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 150px;
  width : 100px;
  transition: margin-top .3s;
}

.header .hIcon p {
  color : #fff;
  font-weight: 400;
  padding : 0;
  margin : 0;
  font-family: 'Raleway', serif;
  transition : all .3s;
}

.header .hIcon i {
  transition: all 0.3s;
}

.header .hIcon:hover {
  margin-top: -24px;
  cursor: pointer;
}

.header .hIcon:hover p {
  color : #6282FF;
}

.header .hIcon:hover i {
  color : #6282FF;
}


.heading {
  font-size: 32px;
  font-family: 'Roboto', serif;
  font-weight: 700;
  margin-left: 32px;
  margin-top: 32px;
  color : #333;
}


.live_projects {
  margin: 0 32px 0 32px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.live_projects .project {
  width : 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.project div {
  width : 270px;
}

.project h1 {
  font-size: 24px;
  font-family: 'Raleway',serif;
  font-weight: 700;
  color : #2a4660;
}

.project img {
  width : 270px;
  margin-top: 16px;
}

.project h2 {
  font-size: 20px;
  font-family: 'Raleway',serif;
  font-weight: 700;
  color : #2a4660;
}

.project p {
  color : #646f79;
  font-family: "Roboto",serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.project .imageDesc a {
  font-size: 14px;
  color: #6282FF;
  font-family: 'Roboto',serif;
  font-weight: 700;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.project .imageDesc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-top : 8px;
}

.project .highlight {
  color : #6282FF;
  font-weight: 700;
}

.project .list {

}

.project .list ul {
  list-style: none;
  padding: 0;
}

.project .list li {
  padding : 2px 0px;
  color : #333;
  font-family: 'Raleway', serif;
  font-weight: 300;
  font-size: 16px;
}

.project .list li:before {
  content : '\f069';
  font-family: FontAwesome;
  display: inline-block;
  font-size: 10px;
  color : #6282FF;
  padding : 0px 10px 0px 4px;
}


/*

Helper Classes

*/

.flex {
  display: flex;
}

.disabled {
  opacity : 0.5;
  cursor:move;
}

.flex.flex-center {
  justify-content: center;
  align-items: center;
}


/*transform: translatey(0px);
animation: float 6s ease-in-out infinite;*/

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



@media screen and (max-width: 1260px) {
  .live_projects {
    flex-direction: column;
    align-items: center;
  }
  .live_projects .project {
    justify-content: space-around;
    margin-top: 64px;
  }
}


@media screen and (max-width: 660px) {
  .live_projects {
    flex-direction: column;
  }

  .live_projects .project {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }

}




/*

NAVBAR

*/

.Navbar {
  background-color: rgba(255,255,255,0.3);
  display: flex;
  font-family: "Raleway",serif;
  color: #333;
  justify-content: center;
  align-items: center;
  height: 54px;
  position: sticky;
  top: 0;
}

.Navbar__Link {
  padding-right: 8px;
  text-decoration: none;
  color : #333;
  padding : 12px 16px 12px 16px;

}

.Navbar a {
  text-decoration: none;
  color: #2a4660;
  display: block;
  transition: .2s color;
}

.Navbar a:hover {
  color : #6282FF;
}


.Navbar__Link-brand {
  font-family: "Raleway", serif;
  font-size: 20px;
  margin-right: 64px;
}


.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    min-height: 54px;
    height : auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .Navbar__Items {
    display:none;

  }

  .Navbar__Link-brand {
    margin-right: 0;
  }


  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
    transition: color .3s;
   }

   .Navbar__Link-toggle:hover {
      color : #6282FF;
   }
}
